h1 {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

h2,
p {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}